<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.wonday.aliyun.push">
    <uses-permission android:name="android.permission.GET_TASKS" />
    <application
            android:label="@string/app_name">
        <receiver
                android:name="org.wonday.aliyun.push.AliyunPushMessageReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_OPENED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.push2.action.NOTIFICATION_REMOVED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.alibaba.sdk.android.push.RECEIVE" />
            </intent-filter>
        </receiver>
        <activity
                android:name=".ThirdPartMessageActivity"
                android:exported="true" />
    </application>
</manifest>